<a href="https://colab.research.google.com/github/Vidushi2601/CipherSchools-DataSci-ML-Hybrid/blob/main/cipher_lecture_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working with Pandas

In [2]:
import pandas as pd
#create dataframe from dictionary
data={
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,35],
    'City':['New York','Los Angeles','Chicago']
}
df=pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [8]:
#Assuming dataset.csv is a csv file in the current directory
df=pd.read_csv('dataset.csv')
print(df)

       name  age  gender
0     alice   20  female
1       bob   20    male
2      riya   34  female
3      hans   98    male
4  kanuriya   24  female
5     harsh   18    male
6     priya   14  female
7   hansika   92  female

In [9]:
#Displaying the first few rows
print(df.head())

       name  age  gender
0     alice   20  female
1       bob   20    male
2      riya   34  female
3      hans   98    male
4  kanuriya   24  female

In [10]:
#Displaying the last few rows
print(df.tail())

       name  age  gender
3      hans   98    male
4  kanuriya   24  female
5     harsh   18    male
6     priya   14  female
7   hansika   92  female

In [12]:
#Getting information about the dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   age     8 non-null      int64
 2   gender  8 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes
None

In [13]:
#Descriptive statistics
print(df.describe())

             age
count   8.000000
mean   40.000000
std    34.475664
min    14.000000
25%    19.500000
50%    22.000000
75%    48.500000
max    98.000000

In [14]:
#Selecting columns
print(df['name'])

0       alice
1         bob
2        riya
3        hans
4    kanuriya
5       harsh
6       priya
7     hansika
Name: name, dtype: object

In [16]:
print(df[['name','age']])

       name  age
0     alice   20
1       bob   20
2      riya   34
3      hans   98
4  kanuriya   24
5     harsh   18
6     priya   14
7   hansika   92

In [17]:
#Filtering rows
print(df[df['age']>28])

      name  age  gender
2     riya   34  female
3     hans   98    male
7  hansika   92  female

In [18]:
df

       name  age  gender
0     alice   20  female
1       bob   20    male
2      riya   34  female
3      hans   98    male
4  kanuriya   24  female
5     harsh   18    male
6     priya   14  female
7   hansika   92  female

In [20]:
#Adding new Columns
df['salary']=[3456,3423,7684,32435,65756,909089,4545,67111]
print(df)

       name  age  gender  salary
0     alice   20  female    3456
1       bob   20    male    3423
2      riya   34  female    7684
3      hans   98    male   32435
4  kanuriya   24  female   65756
5     harsh   18    male  909089
6     priya   14  female    4545
7   hansika   92  female   67111

In [23]:
#Modifying existing columns
df['age']=df['age']+6
print(df)

       name  age  gender  salary
0     alice   28  female    3456
1       bob   28    male    3423
2      riya   42  female    7684
3      hans  106    male   32435
4  kanuriya   32  female   65756
5     harsh   26    male  909089
6     priya   22  female    4545
7   hansika  100  female   67111

In [25]:
#dropping columns and rows
df=df.drop(columns=['salary'])
print(df)

       name  age  gender
0     alice   28  female
1       bob   28    male
2      riya   42  female
3      hans  106    male
4  kanuriya   32  female
5     harsh   26    male
6     priya   22  female
7   hansika  100  female

In [26]:
df=df.drop(index=1)
print(df)

       name  age  gender
0     alice   28  female
2      riya   42  female
3      hans  106    male
4  kanuriya   32  female
5     harsh   26    male
6     priya   22  female
7   hansika  100  female

In [27]:
#grouping data by column
grouped=df.groupby('gender')
print(grouped['age'].mean())

gender
female    44.8
male      66.0
Name: age, dtype: float64

In [28]:
#Aggregating data using multiple functions
aggregate=df.groupby('gender').agg({'age': ['mean','min']})

In [29]:
print(aggregate)

         age
        mean min
gender
female  44.8  22
male    66.0  26