<a href="https://colab.research.google.com/github/Vidushi2601/CipherSchools-DataSci-ML-Hybrid/blob/main/cipher_lecture_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Function
def add_numbers(a,b):
  """Function to add numbers"""
  return a+b

#calling the function
print(add_numbers(3,4))

7

In [2]:
#function with default arguments
def greet(name,message="Hello"):
  """function to greet a person with default message"""
  return f"{message},{name}!"

In [3]:
print(greet("Bob"))
print(greet("Alice","Hi"))

Hello,Bob!
Hi,Alice!

In [4]:
#Function with variable length arguments
def sum_all(*args):
  """Function to sum all given arguments"""
  return sum(args)
print(sum_all(1,2,3,4,5))

15

In [6]:
#Function with keyword arguments
def display_info(**kwargs):
  """Function to display information using keyword arguments"""
  for key,value in kwargs.items():
    print(f"{key}:{value}")

  #Calling the function
display_info(name="John",age=30,city="New York")

name:John
age:30
city:New York

In [7]:
#High order Functions
def apply_function(func,x,y):
  """Function to apply another function"""
  return func(x,y)
def multiply(a,b):
  return a*b
#calling the higher order function
print(apply_function(multiply,6,7))

42

In [8]:
#Simple lambda functions
square=lambda x:x*x
#calling the lambda function
print(square(5))

25

In [9]:
#Lambda function in map
numbers=[1,2,3,4,5]
squares=list(map(lambda x:x*x,numbers))

#displaying the result
print(squares)

[1, 4, 9, 16, 25]

In [10]:
#lambda function in filter
numbers=[1,2,3,4,5,6]
even_numbers=list(filter(lambda x: x%2==0,numbers))
#displaying the result
print(even_numbers)

[2, 4, 6]

In [11]:
# Lambda function in sorted
students=[("Alice",25),("Bob",20),("Charlie",23)]
sorted_students=sorted(students,key=lambda student: student[1])

print(sorted_students)

[('Bob', 20), ('Charlie', 23), ('Alice', 25)]

Error handling

In [12]:
#Basic try except block
try:
  result=10/0
except ZeroDivisionError:
  print("Cannot divide by zero")

Cannot divide by zero

In [13]:
#Try except else block
try:
  result=10/2
except ZeroDivisionError:
  print("Cannot divide by zero")
else:
  print("Division succesful")

Division succesful

In [14]:
#Try Except Finally Block
try:
  result=10/2
except ZeroDivisionError:
  print("Cannot divide by zero")
finally:
  print("Execution completed")

Execution completed

In [16]:
#Handling multiple exceptions
try:
  number=int(input("Enter a number: "))
  result=10/number
except ValueError:
  print("Invalid input. please enter a number")
except ZeroDivisionError:
  print("Cannot divide by zero")

Enter a number: 0
Cannot divide by zero

In [17]:
#Raising exceptions
def check_positive(number):
  if number<=0:
    raise ValueError("Number must be positive")

try:
  check_positive(-5)
except ValueError as e:
  print(e)

Number must be positive